.nav-menu{
list-style-type: none;
padding-left: 330px;
margin-left: 190px;
word-spacing: 72px;
justify-content: center;
}
.menu li{
display: inline;
text-transform:uppercase;
font-family: Arial, Helvetica, sans-serif;
}
.nav-menu-link{
text-decoration: none;
color: #FF0000;
position: relative;
font-style: normal;
font-weight: bold;
width: 68px;
height: 27px;
}
.Image{
position:static;
width: 100%;
}
.Title{
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 27px;
display: flex;
align-items: flex-end;
letter-spacing: 3.3px;
text-transform: uppercase;
color: #373737;
justify-content: center;
}
.Content{
text-align: center;
position: absolute;
font-size: 16px;
line-height: 26px;
}
.Start{
margin-top: 159px;
justify-content: center;
color: white;
background-color: #FF0000;
text-transform: capitalize;
}
.Bot{
position: fixed;
left: 0;
bottom: 0;
width: 100%;
color: #373737;
text-align: right;
}